PORT=3000
DB_HOST=172.16.186.62
DB_ID=MYLOGIN
DB_PASSWORD=MYPASS
DB_DBQ=DEVPAIFILE # library containing dds, sql tables
DB_SRC=NETPAISRC  # library rpgle, cl programs
DB_FOLDERS="'QRPGLESRC','QCLPSRC','QRPGINCLU'" # folders of files to inspect (the more listed the less peformance of course)
DB_SWP_SRC_FILE=1 # could be very specific but useful at our shop : swap the given suffix ie. 'src' into 'file' (ie. devpaisrc -> devpaifile)

# PORT=3000
# DB_HOST=INEXPAIE_PROD400
# DB_ID=MYLOGIN
# DB_PASSWORD=MYPASS
# DB_DBQ=NETPAIFILE # library containing dds, sql tables
# DB_SRC=NETPAISRC  # library rpgle, cl programs
# DB_FOLDERS="'QRPGLESRC','QCLPSRC','QRPGINCLU'" # folders of files to inspect (the more listed the less peformance of course)
# DB_SWP_SRC_FILE=1 # could be very specific but useful at our shop : swap the given suffix ie. 'src' into 'file' (ie. devpaisrc -> devpaifile)